@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
}

.Sec1 {
    background-color: #1f2937;
}

#Header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

/* We use # instead of (.) on this because the selector is a paragraph. */

.Header-Link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.Navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navbar-left, .Navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.Content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

 .Content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:  column;
    width: 50%;
}

.Content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
}

img {
    margin-bottom: 50px;
}

.P-1 {
    font-size: 18px;
    color: #E5E7EB;
    
}

.Button1 {
    background-color: #3882F6;
    color: white;
    width: 140px;
    height: 40px;
    border: 1px #3882F6;
    border-radius: 10px;
    font-weight: bolder;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.Row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
    align-items: center;
}

.Blue-box {
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.Box-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Box-msg {
    text-align: center;
    font-size: 18px;
}

.Sec3 {
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: center;
}

.Author {
    font-size: 18px;
    font-weight: bold;
}

.Author-div {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}